:root {
  --cloud_color: white;
  --containers_color: white;
  --text_color: rgb(95, 95, 95);
  --sky_color: #00b4ff;
  --containers_secondary: #d1d1d15b;
  --skills_color: rgba(255, 255, 255, 0.8);
  --window_color: rgba(74, 219, 230, 0.527);

}

* {
  box-sizing: border-box;
}


body {

  position: relative;
  /* color: #333; */
  color: var(--text_color);
	font: 100% Arial, Sans Serif;
	font-size: 20px; 
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.background-wrap {
  display: block;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(var(--sky_color), white);
  bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
}


/** projects pop-up **/
.grid-container-2 {
  display: grid;
  position:  absolute;
  grid-template-columns: auto auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  left: 5%;
  z-index: 6;
  width: 90%;
  height: 80%;
  top: 10%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

/* .projects {
  display: none;
  transition: display 2s ease-in;
  background-color: orange !important;
} */

.grid-container-2:hover {
  visibility: visible;
  opacity: 1;
}

.grid-container-2 > .grid-item:hover {
  background-color: #57554462;
}

/** END projects pop-up **/

.middle-1 {
  position: relative;
  /* background-color: #fafafa; */
  top: 100vh;
  height: 200vh;
  overflow: hidden;
}

.middle-2 {
  border-top: 1px solid rgb(95, 95, 95);
  position: relative;
  /* background-color: pink; */
  height:60vh;
  top: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.middle-3 {
  border-top: 1px solid rgb(95, 95, 95);
  position: relative;
  background-color: var(--containers_color);
  height:100vh;
  top: 100vh;
  width: 100%;
  padding-bottom: 20px;
  height: auto;
  overflow: hidden;
  z-index: 0;
}
.middle-4 {
  border-top: 1px solid rgb(95, 95, 95);
  position: relative;
  /* background-color: pink; */
  height:100vh;
  top: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

#switch {
  margin-top: 5px;
  right: 10px;
  z-index: 8;
  position: relative;
  height: 40px;
  width: 75px;
  cursor: pointer;
}

/*CLOUDS*/
/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* cloud ANIMATIONS */

.x1 {
  font-size: 4em;

	-webkit-animation: animateCloud 75s linear infinite alternate;
	-moz-animation: animateCloud 75s linear infinite alternate;
	animation: animateCloud 75s linear infinite alternate;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
  font-size: 3em;

	-webkit-animation: animateCloud 100s linear infinite alternate;
	-moz-animation: animateCloud 100s linear infinite alternate;
	animation: animateCloud 100s linear infinite alternate;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
  font-size: 3em;

	-webkit-animation: animateCloud 40s linear infinite alternate;
	-moz-animation: animateCloud 40s linear infinite alternate;
	animation: animateCloud 40s linear infinite alternate;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
  font-size: 4em;

	-webkit-animation: animateCloud 48s linear infinite alternate;
	-moz-animation: animateCloud 48s linear infinite alternate;
	animation: animateCloud 48s linear infinite alternate;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
  font-size: 5em;

	-webkit-animation: animateCloud 55s linear infinite alternate;
	-moz-animation: animateCloud 55s linear infinite alternate;
	animation: animateCloud 55s linear infinite alternate;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}


/* -----------------clounds */

.cloud {
  /* text-align: center; */

	background: var(--cloud_color);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
  border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
  background: var(--cloud_color);
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

/* .nightCloud, .nightCloud:after, .nightCloud:before {
  background: rgb(128, 108, 165);
} */


.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

.last-cloud {
  margin-right: -1100px;
  
}

/*grid for clouds*/

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: yellow; */
  padding: 10px;
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  transition: background-color 0.5s;
}

/*END -----------------CLOUDS*/

/*-----------------THOUGHT BUBBLE *****/

p.thought {
  position: absolute;; /*see the support section below for more info*/
  width:400px; /*size of the bubble*/
  padding:20px 40px;
  margin:-350px 10px 80px 330px;
  /**give the bubble's background a gradient**/
  background:#f7a944; /*fallback colour for non-supporting browsers*/
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#fac868), to(#f3961c));
  background:-moz-linear-gradient(#fac868, #f3961c);
  background:-o-linear-gradient(#fac868, #f3961c);
  background:linear-gradient(#fac868, #f3961c);
  /**give the corners a large curve**/
  -webkit-border-radius:180px;
  -moz-border-radius:180px;
  border-radius:180px;
  /**add a drop shadow to the bubble**/
  -webkit-box-shadow: -3px 4px 8px #989898;
  -moz-box-shadow: -3px 4px 8px #989898;
  box-shadow: -3px 4px 8px #989898;
  /**style the text**/
  color:#575544;
  font-size: 40px;
  letter-spacing:.06em;
  }
  /******NOW CREATE THE THOUGHT CIRCLES*****/
  /****FIRST THE LARGE CIRCLE***/
  p.thought:before {
  content:"";
  position:absolute; /*see the support section below for more info*/
  bottom:-40px; /*distance from the bottom of the bubble*/
  left:20px; /*distance from the left edge of the bubble*/
  background:#f3961c;
  width:30px; /*same as the height*/
  height:30px; /*same as the width*/
  /*add a curve to the corners the same size as the height and width*/
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
  /*add a drop shadow*/
  -webkit-box-shadow: -3px 3px 4px #989898;
  -moz-box-shadow: -3px 3px 4px #989898;
  box-shadow: -3px 3px 8px #989898;
  }
  /*****NOW THE SMALL CIRCLE***/
  /**Created exactly the same way as the large circle, except with smaller width, height and border-radius**/
  p.thought:after {
  content:"";
  position:absolute;
  bottom:-55px;
  left:0;
  width:15px;
  height:15px;
  background:#f3961c;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  -webkit-box-shadow: -3px 3px 4px #989898;
  -moz-box-shadow: -3px 3px 4px #989898;
  box-shadow: -3px 3px 8px #989898;
  }

  /*END -----------------THOUGHT BUBBLE*/

  /* -----------------NAVIGATION */

  nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    
  }

  .navigation {
    
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    z-index: 10;
    transition: top 0.3s;
    /* background-color: #333; */
  }
  
  .navigation a {
    float: left;
  }
  
  .navigation a  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navigation a:hover:not(.active) {
    background-color: rgba(17, 17, 17, 0.37);
  }
  
  .active {
    background-color: #4CAF50;
  }

  .navigation .icon {
    display: none;
  }

  /* END -----------------NAVIGATION */

  /* -----------------CHEST */
.chest {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(img/chest_closed.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  animation: shake 5s;
  animation-iteration-count: infinite; 
  animation-delay: 2s;
}

.chest:hover {
  background-image: url(img/chest_open.svg);
  animation-play-state: paused;
}

.chest:hover + .grid-container-2 { /* on chest hover projects appear*/
  visibility: visible;
  opacity: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  /* nothing changes */
  100% { transform: translate(-3px, 0px) rotate(1deg); }
}

  /*END----------------- CHEST */

  /* -----------------MOUNTAINTS */

.mountains {
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: -10px;
}


  /*END ----------------- MOUNTAINTS */

@keyframes mouse-animation {
    0%   {background-image: url(img/mouse1.png)}
    50% {background-image: url(img/mouse2.png)}
    100%   {background-image: url(img/mouse1.png)}
    
}

/* -----------------mouse animation */

#mouse_container {
    margin: 0;
    padding-right: 40px;
    transition: padding 0.5s;
    /* display: inline-block; */
    position: absolute;
    z-index: 6;
    width: 60px;
    height: 100px;
    right: 0;

    top: 80vh;
    /* bottom: 0px; */
    /* margin-left: 20px; */
    /* float: right; */
    /* background-color: blueviolet; */
}

#mouse_animation {
   
    cursor: pointer;
    /* background-image: url(img/mouse1.png); */
    animation-name: mouse-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    /* margin-left: 20px; */
    /* background-image: url(img/mouse.png); */
    /* background-position-y: -105px; */
    background-size: 30px;
    height: 100%;
    width: 30px;
    background-repeat: no-repeat;
}

#mouse_container:hover {
    padding-top: 15px;
}
  
/*end -----------------mouse animation */

/* -----------------front-page */

.front-page {
  font-size: 50px ;
  border-radius: 20px;
  padding: 20px;
  top: 15%;
  width: 70%;
  height: 70%;
  left: 15%;;
  position: absolute;
  z-index: 6;
  /* background-color: #ecececcb; */
}

/*END -----------------front-page */

/* -----------------face */
.face {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  left: 50%;
  margin-left: -100px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ecececcb;
  background-image: url(img/face_no_bg.png);
}

/* end -----------------face */

/* -----------------text */
.text {
  box-shadow: 5px 10px 18px #888888cc;
  border-radius: 20px 20px 0 0;
  /* color: rgb(95, 95, 95); */
  background-color: var(--containers_secondary);
  font-size: 20px;
  padding: 40px 100px;
  text-align: center;
  /* column-count: 2; */
  column-gap: 40px;
  width: 70%;
  left: 15%;
  position: relative;
  z-index: 2;
}

/*END ----------------- text */

/* -----------------Windows */
.window-border {
  margin-top: 40px ;
  /* margin-bottom: 4000px ; */
  position: relative;
  left: 50%;
  margin-left: -1675px;
  height: 200px;
  box-sizing: content-box;
  width: 350px;
  border-width: 1000px 1500px 100px 1500px;
  border-style: solid;
  border-color: var(--containers_color);
  top: -1000px;
  z-index: 0;
} 

.wall {
  padding: 10px;
  height: 100px;
  background-color: var(--containers_color);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.window {
  /* box-sizing: content-box;
  border: 200px solid white; */
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: 1;
  /* right: -100px; */
  /* top: -500px; */
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
}

.frame-cell {
  padding: 10px;
  height: 100px;
  background-color: var(--window_color);
  border: 1px solid rgba(0, 0, 0, 0.8);

}
/* END -----------------windows*/

/* -----------------skills*/

.skills-box {
  position: relative;
  /* background-color: white; */
  height: 80vh;
  top: -1075px ;
  width: 100%;
  overflow: hidden;
  z-index: 6;
} 

.skills {
  /* overflow: visible; */
  /* top: -100px; */
  left: 15%;
  width: 70%;
  height: 80%;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: yellow; */
  padding: 10px;
}
.skill{
  height: 500px;
  background-color: var(--skills_color);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  /* font-size: 30px; */
  text-align: center;
  /* transition: background-color 0.5s; */
}

.skill div { /*text below icons*/
  padding-top: 30px;
}

.skill:first-child {
  border-radius: 20px 0 0 0;
  /* background-color: purple; */
}

.skill:last-child {
  border-radius: 0 20px 0 0;
  /* background-color: purple; */
}

/* END -----------------skills*/

/* -----------------work*/

.work {
  margin-top: 40px ;
  /* background-color: #00b4ff; */
  text-align: center;
}

.projects {
  width: 70%;
  left: 15%;
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 10px;
}

.project {
  height: 230px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.my-button {
  cursor: pointer;
  background-color: var(--sky_color);
  color: white;
  position: relative;
  text-align: center;
  padding: 5px;
  border: 1px solid var(--sky_color);
  border-radius: 20px;
  left: 50%;
  bottom: 0;
  margin-top: 40px;
  margin-left: -125px;
  width: 250px;
  transition: background-color 0.5s, color 0.5s linear;
}

.my-button:hover {
  background-color: rgba(255, 255, 255, 0.767);
  color: var(--sky_color);
}

.my-button a {
  text-decoration: none;
  color: inherit;
}

.my-button a:active {
  color: var(--sky_color);
}
.my-button a:visited {
  color: inherit;
  text-decoration: none;
}

/* END-----------------work*/

/* ------------footer*/

footer {
  color: white;
  height: 60vh;
  text-align: center;
  bottom: -100vh;
  background-color: #8b8b8bab;
  position: relative;
}

.contact {
  color: var(--text_color);
  border-radius: 20px;
  padding-top: 50px;
  background-color: var(--containers_color);
  width: 70%;
  position: relative;
  height: 200px;
  top: -100px;
  left: 15%;
  padding: 20px;
}

/* END------------footer*/



/* @ MEDIA ------------*/

@media screen and (max-width: 800px) {
 
  /* .two-column {
    column-count: 1 ;
  } */
 
  .middle-1 {
    height: 2700px ;
  }
/*  
  .window-border {
     top: -225px ;
  } */
 
   .text {
     padding: 20px ;
     text-align: justify;
   }
 
   .skills {
     grid-template-columns: auto ;
   }
 
   .skills-box {
     height: 1600px;
   }

   .skill:first-child {
    border-radius: 20px 20px 0 0;
    /* background-color: purple; */
  }
  
  .skill:last-child {
    border-radius: 0 0 0 0;

    /* background-color: purple;  */
  }

  .projects {
    width: 70%;
    left: 15%;
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 10px;
  }

  .project {
    height: 20vh;
  }
 }

 @media screen and (max-width: 600px) {

  .navigation a:not(:first-child) {display: none;}
  .navigation a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navigation.responsive {position: relative;}
  .navigation.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none !important;
    display: block;
    text-align: left;
  }
}